@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/loginstyle.css" />
<div id="contenedorI">
  
</div>
<div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
   

